
body{
    font-family: "poppins",sans-serif;
}

#registrationFormm{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

.main {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width:500px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 35px;
    padding: 20px;
    font-size: 12px;
    
    
}
 
#registrationForm h1 {
    font-family: Luminari, fantasy;
    text-shadow: 2px 2px red;
}
 
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
 
 
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 
button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    color: rgb(41, 57, 64);
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}
 
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-control{
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}


.input-control .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

