.user-img {
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 3.5rem;
  background-color: #12171e;
  padding: 0.4rem 0.8rem;
  margin-right: 0.2rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 15%;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: white;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo i {
  font-size: 2rem;
  margin-right: 1px;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  color: white;
  opacity: 1;
  margin-left: 1rem;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
  z-index: 1;
}

.sidebar ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: white;
  color: #12171e;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.6);
  border-radius: 0.6rem;
  padding: 0.5rem 1.2rem;
  line-height: 1.8rem;
  z-index: 10;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  background-color: whitesmoke;
  position: absolute;
  z-index: 20;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.main-content {
  position: relative;
  min-height: 10vh;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 0 2rem;
  margin: 0px 0rem 0 6.2rem;
}

.main-content-title {
  position: relative;
  background-color: #eee;
  min-height: 10vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}
